In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [14]:
cars_data=pd.read_csv('Cardetails.csv')

In [15]:
cars_data.head()

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()
c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: RangeIndex.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [16]:
cars_data.drop(columns=['torque'],inplace=True)

In [17]:
cars_data

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,5.0

In [18]:
cars_data.shape

(8128, 12)

In [8]:
#NULL CHECK

In [19]:
cars_data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
dtype: int64

In [20]:
cars_data.dropna(inplace=True)

In [21]:
cars_data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [12]:
#DUPLICATES CHECKING

In [22]:
cars_data.duplicated().sum()

np.int64(1189)

In [24]:
cars_data.drop_duplicates(inplace=True)

In [25]:
cars_data.duplicated().sum()

np.int64(0)

In [26]:
cars_data.shape

(6718, 12)

In [17]:
# DATA ANALYSIS

In [28]:
def getBrand(car_name):
    car_name=car_name.split(' ')[0]
    return car_name.strip(' ')

In [27]:
def extract_float(value):
    try:
        return float(str(value).split()[0])
    except:
        return None

In [29]:
getBrand('Maruti swift dzire')

'Maruti'

In [30]:
cars_data['name']=cars_data['name'].apply(getBrand)

In [31]:
cars_data

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,Maruti,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.9 kmpl,998 CC,67.1 bhp,5.0
8122,Hyundai,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54 kmpl,1396 CC,88.73 bhp,5.0
8123,Hyundai,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,5.0
8124,Hyundai,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,5.0
8125,Maruti,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,5.0

In [32]:
cars_data['mileage'] = cars_data['mileage'].apply(extract_float).astype('float64')
cars_data['max_power'] = cars_data['max_power'].apply(extract_float).astype('float64')
cars_data['engine'] = cars_data['engine'].apply(extract_float).astype('float64')

In [35]:
cars_data.head()

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,1,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,2,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,3,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,4,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,1,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0

In [34]:
cars_data['name'] = cars_data['name'].replace(
    ['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
     'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
     'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
     'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
     'Ambassador', 'Ashok', 'Isuzu', 'Opel'],
    list(range(1, 32))  # 1 to 31
)

C:\Users\Kanavpreet Singh\AppData\Local\Temp\ipykernel_12496\455365788.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['name'] = cars_data['name'].replace(

In [36]:
cars_data['transmission'] = cars_data['transmission'].replace(['Manual', 'Automatic'], [1, 2])

C:\Users\Kanavpreet Singh\AppData\Local\Temp\ipykernel_12496\1102525220.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['transmission'] = cars_data['transmission'].replace(['Manual', 'Automatic'], [1, 2])

In [39]:
cars_data

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,1,2014,450000,145500,Diesel,1,1,First Owner,23.40,1248.0,74.00,5.0
1,2,2014,370000,120000,Diesel,1,1,Second Owner,21.14,1498.0,103.52,5.0
2,3,2006,158000,140000,Petrol,1,1,Third Owner,17.70,1497.0,78.00,5.0
3,4,2010,225000,127000,Diesel,1,1,First Owner,23.00,1396.0,90.00,5.0
4,1,2007,130000,120000,Petrol,1,1,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,1,2013,260000,50000,Petrol,1,1,Second Owner,18.90,998.0,67.10,5.0
8122,4,2014,475000,80000,Diesel,1,1,Second Owner,22.54,1396.0,88.73,5.0
8123,4,2013,320000,110000,Petrol,1,1,First Owner,18.50,1197.0,82.85,5.0
8124,4,2007,135000,119000,Diesel,1,1,Fourth & Above Owner,16.80,1493.0,110.00,5.0
8125,1,2009,382000,120000,Diesel,1,1,First Owner,19.30,1248.0,73.90,5.0

In [38]:
cars_data['seller_type'] = cars_data['seller_type'].replace(
    ['Individual', 'Dealer', 'Trustmark Dealer'], [1, 2, 3]
).astype(int)

C:\Users\Kanavpreet Singh\AppData\Local\Temp\ipykernel_12496\3389117860.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['seller_type'] = cars_data['seller_type'].replace(

In [40]:
cars_data['fuel'] = cars_data['fuel'].replace(
    ['Diesel', 'Petrol', 'LPG', 'CNG'],
    [1, 2, 3, 4]
).astype(int)

C:\Users\Kanavpreet Singh\AppData\Local\Temp\ipykernel_12496\2193804614.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['fuel'] = cars_data['fuel'].replace(

In [41]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   float64
 9   engine         6718 non-null   float64
 10  max_power      6717 non-null   float64
 11  seats          6718 non-null   float64
dtypes: float64(4), int64(7), object(1)
memory usage: 682.3+ KB

In [41]:
cars_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,1,2014,450000,145500,1,1,1,First Owner,23.4,1248,74,5.0
1,2,2014,370000,120000,1,1,1,Second Owner,21.14,1498,103.52,5.0
2,3,2006,158000,140000,2,1,1,Third Owner,17.7,1497,78,5.0
3,4,2010,225000,127000,1,1,1,First Owner,23.0,1396,90,5.0
4,1,2007,130000,120000,2,1,1,First Owner,16.1,1298,88.2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,1,2013,260000,50000,2,1,1,Second Owner,18.9,998,67.1,5.0
8122,4,2014,475000,80000,1,1,1,Second Owner,22.54,1396,88.73,5.0
8123,4,2013,320000,110000,2,1,1,First Owner,18.5,1197,82.85,5.0
8124,4,2007,135000,119000,1,1,1,Fourth & Above Owner,16.8,1493,110,5.0
8125,1,2009,382000,120000,1,1,1,First Owner,19.3,1248,73.9,5.0

In [42]:
cars_data.reset_index(inplace=True)

In [43]:
cars_data

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,index,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,0,1,2014,450000,145500,1,1,1,First Owner,23.40,1248.0,74.00,5.0
1,1,2,2014,370000,120000,1,1,1,Second Owner,21.14,1498.0,103.52,5.0
2,2,3,2006,158000,140000,2,1,1,Third Owner,17.70,1497.0,78.00,5.0
3,3,4,2010,225000,127000,1,1,1,First Owner,23.00,1396.0,90.00,5.0
4,4,1,2007,130000,120000,2,1,1,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,8121,1,2013,260000,50000,2,1,1,Second Owner,18.90,998.0,67.10,5.0
6714,8122,4,2014,475000,80000,1,1,1,Second Owner,22.54,1396.0,88.73,5.0
6715,8123,4,2013,320000,110000,2,1,1,First Owner,18.50,1197.0,82.85,5.0
6716,8124,4,2007,135000,119000,1,1,1,Fourth & Above Owner,16.80,1493.0,110.00,5.0
6717,8125,1,2009,382000,120000,1,1,1,First Owner,19.30,1248.0,73.90,5.0

In [44]:
cars_data['owner'] = cars_data['owner'].replace(
    ['First Owner', 'Second Owner', 'Third Owner',
     'Fourth & Above Owner', 'Test Drive Car'],
    [1, 2, 3, 4, 5]
).astype(int)

C:\Users\Kanavpreet Singh\AppData\Local\Temp\ipykernel_12496\2484775653.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['owner'] = cars_data['owner'].replace(

In [45]:
cars_data

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,index,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,0,1,2014,450000,145500,1,1,1,1,23.40,1248.0,74.00,5.0
1,1,2,2014,370000,120000,1,1,1,2,21.14,1498.0,103.52,5.0
2,2,3,2006,158000,140000,2,1,1,3,17.70,1497.0,78.00,5.0
3,3,4,2010,225000,127000,1,1,1,1,23.00,1396.0,90.00,5.0
4,4,1,2007,130000,120000,2,1,1,1,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,8121,1,2013,260000,50000,2,1,1,2,18.90,998.0,67.10,5.0
6714,8122,4,2014,475000,80000,1,1,1,2,22.54,1396.0,88.73,5.0
6715,8123,4,2013,320000,110000,2,1,1,1,18.50,1197.0,82.85,5.0
6716,8124,4,2007,135000,119000,1,1,1,4,16.80,1493.0,110.00,5.0
6717,8125,1,2009,382000,120000,1,1,1,1,19.30,1248.0,73.90,5.0

In [46]:
cars_data.drop(columns=['index'], inplace=True)

In [49]:
input_data = cars_data.drop(columns=['selling_price'])
output_data =cars_data['selling_price']

In [50]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [51]:
model = LinearRegression()
x_train = x_train.dropna()
y_train = y_train.loc[x_train.index]
model.fit(x_train, y_train)

LinearRegression()

In [52]:
x_train

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
1127,4,2017,50000,1,1,1,1,25.40,1186.0,73.97,5.0
5722,10,2015,120000,1,1,1,1,13.58,2499.0,72.40,10.0
1106,3,2016,72113,1,1,1,1,21.90,1498.0,98.60,7.0
291,1,2017,25000,1,1,1,1,26.59,1248.0,74.00,5.0
3456,1,2008,66530,2,1,1,2,18.90,1061.0,67.00,5.0
...,...,...,...,...,...,...,...,...,...,...,...
4752,1,2008,48676,2,1,1,1,19.70,796.0,35.00,8.0
2787,6,2011,70000,1,1,1,2,20.00,1399.0,68.00,5.0
308,4,2018,29000,1,1,1,1,24.00,1186.0,73.97,5.0
3072,4,2014,80000,2,1,1,1,18.90,1197.0,82.00,5.0
2866,8,2014,120000,1,1,1,1,15.10,2179.0,140.00,7.0

In [53]:
predict = model.predict(x_test)

In [54]:
predict

array([1557785.40823714,  571981.55668686,  827366.94514324, ...,
        293861.52565318,  245056.25758348,  501053.82050359],
      shape=(1344,))

In [55]:
x_train.head(1)

c:\Users\Kanavpreet Singh\anaconda3\envs\envKernel\lib\site-packages\IPython\core\formatters.py:406: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
1127,4,2017,50000,1,1,1,1,25.4,1186.0,73.97,5.0

In [56]:
input_data_model = pd.DataFrame(
    [[5,2025,1000,1,1,1,1,12.99,2494.0,100.6,5.0]],
    columns=['name','year','km_driven','fuel','seller_type','transmission','owner','mileage','engine','max_power','seats'])

In [57]:
model.predict(input_data_model)

array([1197407.07397538])

In [58]:
import pickle as pk

In [59]:
pk.dump(model,open('model.pkl','wb'))